.friend-details{
    border: 1px solid red;
    padding: 20px;
    width: 40%;
    margin: 10px 0px;
}

.list{
    width: 40%;
    border: 1px solid green;
    padding: 20px;
}

#form-box{
    border: 1px solid blue;
    padding: 20px;
    width: 40%
}
